{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "boundaries/entry-point": [
            0,
            {
                "default": "disallow",
                "rules": [
                    {
                        "target": ["src"],
                        "allow": "*"
                    }
                ]
            }
        ]
    }
}
